*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #111111;
  --text: #F9F6FE;
  --accent: #ED1C24;
}

body {
    color: var(--text);
    background: var(--bkg);
    background-color: var(--dark);
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(1.1rem, 2vw + 1rem, 1.4rem);
    line-height: 1.55;;
}

.container {
    margin-inline: max((100% - 90rem) / 2, 1rem);
}

.container--sm {
    margin-inline: max((100% - 70rem) / 2, 2rem);
}

nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding-block: 1.2rem;
    transition: background-color 800ms cubic-bezier(.64, .04, .26, .87);
    z-index: 10;
}

nav.active {
    background-color: var(--dark);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--accent);
    display: grid;
    place-items: center;
    margin-inline: .5rem;
    width: clamp(5rem, 10vw, 8.5rem);
}

.logo-link:focus-visible,
.nav-link:focus-visible {
    outline: .25rem solid var(--accents);
    outline-offset: .2em;
    border-radius: .25rem;
}

.nav-links {
    background-color: var(--dark);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    padding: 1.5rem;
    border-bottom: .25rem solid var(--accent);
    transform: translate3d(0, -200%, 0);
    z-index: -1;
}

.nav-links.activated {
    transition: transform 800ms cubic-bezier(.64, .04, .26, .87);
}

li[role="none"],
.nav-link {
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 100%;
    display: block;
    transition: color .3s cubic-bezier(.64, .04, .26, .87);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent);
}

.btn {
    color: var(--text);
    text-decoration: none;
    padding: .3rem 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
}

.btn--menu {
    color: var(--accent);
    background-color: transparent;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    border: none;
    transition: transform .3s cubic-bezier(.64, .04, .26, .87);
}

.btn--accent {
    background-color: var(--accent);
    padding: .3rem 2rem;
}

.btn--accent:hover,
.btn--accent:focus {
    color: var(--dark);
}

.btn--menu[aria-expanded="true"] {
    transform: rotate(180deg);
}

.btn--menu[aria-expanded="true"] + .nav-links {
    transform: translate3d(0, 0, 0);
}

li[role="none"].has-dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle::after {
    font-size: 1rem;
    content: "\25BE"; /* Dropdown arrow */
    display: inline-block;
    margin-left: .4rem;
    vertical-align: middle;
}

.dropdown-menu {
    background-color: #fff;
    display: none;
    top: 100%;
    left: 0;
    padding: 1rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .1);
}

.dropdown-menu--active {
    display: grid;
    align-items: center;
    justify-content: center;
    transition: .2s cubic-bezier(.64, .04, .26, .87);
}

.dropdown-menu__item {
    font-size: 1.1rem;
    white-space: nowrap;
    /* margin-inline-end: 5rem; */
}

.dropdown-menu__link {
    color: var(--dark);
}

@media (min-width: 48em) {
    .btn--menu {
        display: none;
    }

    .nav-links {
        background-color: transparent;
        flex-direction: row;
        position: static;
        inset: 0;
        padding: 0;
        border: 0;
        transform: translate3d(0, 0, 0);
        z-index: 0;
    }

    li[role="none"],
    .nav-link {
        width: initial;
    }

    .has-dropdown:hover .dropdown-menu,
    .has-dropdown:focus .dropdown-menu {
        display: block;
        transition: 800ms cubic-bezier(.64, .04, .26, .87);
    }

    .dropdown-menu {
        position: absolute;
        top: 2.3rem;
        left: 0;
        width: fit-content;
        box-shadow: .2rem .2rem .8rem rgba(0, 0, 0, .1);
    }

    .dropdown-toggle {
        display: block;
        cursor: pointer;
    }

    .dropdown-toggle::after {
        content: "\25B8";
        display: inline-block;
        font-size: 1rem;
        margin-left: .4rem;
        vertical-align: middle;
        transform: rotate(90deg);
        transition: transform 800ms ease-out;
    }

    .dropdown-toggle--active::after {
        transform: rotate(270deg)
    }
}